<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:insert="~{menu :: menu}"></span>
</br>
<form th:action="@{/infos/category}" method="get">
    <select th:name="category">
        <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}"></option>
    </select>
    <input type="submit" value="Select"/>
</form>
<h1 th:text="|Infos Saved:|">message</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
        <th>Category</th>
        <th>Link</th>
        <th>Details</th>
        <th>Actions</th>
    </tr>
    <tr th:each="info,state:${infos}">
        <td th:text="${info.title}"></td>
        <td th:text="${info.content}"></td>
        <td th:text="${#dates.format(info.date, 'dd-MM-yyyy')}"></td>
        <td th:text="${info.category.name}"></td>
        <td><a th:href="${info.link}">Link</a></td>
        <td><a th:href="@{'/infos/' + ${state.index}}">Details</a></td>
        <td>
            <a th:href="@{'/infos/manage/delete/' + ${state.index}}">Delete</a>
            <a th:href="@{'/infos/manage/edit/' + ${state.index}}">Edit</a>
        </td>
    </tr>
</table>

</body>
</html>