<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Register</h2>
<form action="#" th:action="@{/register}" th:object="${newUser}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span></p>
    <p>Surname: <input type="text" th:field="*{surname}"/><span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</span></p>
    <p>Username: <input type="text" th:field="*{username}"/><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span></p>
    <p>Password: <input type="password" th:field="*{password}"/><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span></p>
    <p>Age: <input type="number" th:field="*{age}"/></p>
    </br>
    </br>
    <input type="submit" value="SignUp"/>
</form>

</body>
</html>