<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share Info</title>
</head>
<body>
<div class="container">
  <span th:insert="~{menu :: menu}"></span>
  <h1>Share Info</h1>
  <form action="#" th:action="@{'/infos/manage/share/' + ${id}}" th:object="${newInfo}" method="post">
    <p>
      <label th:for="|username|">Username of a user to share this information to: </label>
      <input type="text" th:id="|username|" th:name="username"/></p>
    <p>
      <label th:for="|number|" hidden="hidden">: </label>
      <input th:id="|number|" hidden="hidden" type="number" th:value="${newInfo.databaseId}" th:field="*{databaseId}"/></p>
    <p>
      <label th:for="|title|" hidden="hidden">: </label>
      <input th:id="|title|" hidden="hidden" type="text" th:value="${newInfo.title}" th:field="*{title}"/></p>
    <p>
      <label th:for="|content|" hidden="hidden">: </label>
      <input th:id="|content|" hidden="hidden" type="text" th:value="${newInfo.content}" th:field="*{content}"/></p>
    <p>
      <label th:for="|link|" hidden="hidden">: </label>
      <input th:id="|link|" hidden="hidden" type="text" th:value="${newInfo.link}" th:field="*{link}"/></p>
    <p>
      <label th:for="|date|" hidden="hidden">: </label>
      <input th:id="|date|" hidden="hidden" type="date" th:value="${newInfo.date}" th:field="*{date}"/></p>
    <span>
      <label th:for="|category|" hidden="hidden">: </label>
      <select th:id="|category|" hidden="hidden" th:field="*{category}"></select>
    </span>
    <input type="submit" value="Share"/>
  </form>
</div>
</body>
</html>